/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <st/f0/stm32f072Xb.dtsi>
#include <st/f0/stm32f072v(8-b)tx-pinctrl.dtsi>
#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    model = "BW2";
    compatible = "hazel,bw2", "st,stm32f072";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zmk,kscan = &kscan;
        zmk,matrix_transform = &transform;
        zmk,physical-layout = &layout_0;
    };

    transform: transform {
        compatible = "zmk,matrix-transform";
        columns = <5>;
        rows = <8>;

        map = <
            RC(0,0) RC(0,1) RC(0, 2) RC(0, 3) RC(0, 4) RC(4,4) RC(4,3) RC(4,2) RC(4,1) RC(4,0)
            RC(1,0) RC(1,1) RC(1, 2) RC(1, 3) RC(1, 4) RC(5,4) RC(5,3) RC(5,2) RC(5,1) RC(5,0)
            RC(2,0) RC(2,1) RC(2, 2) RC(2, 3) RC(2, 4) RC(6,4) RC(6,3) RC(6,2) RC(6,1) RC(6,0)
                            RC(3,2) RC(3,3) RC(3,4) RC(7, 4) RC(7,3) RC(7,2)
        >;
    };


    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";

        col-gpios
        = <&gpiof 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiof 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpioc 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpioc 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpioc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;


        row-gpios
        = <&gpiob 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpiob 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    };

};


zephyr_udc0: &usb {
    status = "okay";

    pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
    pinctrl-names = "default";
};

&clk_hsi {
    status = "okay";
};

&clk_hsi48 {
    status = "okay";
};

&pll {
    prediv = <1>;
    mul = <6>;
    clocks = <&clk_hsi>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(48)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <1>;
};


&rtc {
    status = "okay";
};

&flash0 {
    /*
     * For more information, see:
     * http: //docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Set 6Kb of storage at the end of the 128Kb of flash */
        storage_partition: partition@3e800 {
            label = "storage";
            reg = <0x0001e800 0x00001800>;
        };
    };

layout_0: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Bad Wings";
        transform = &transform;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300  100    1500   650   150>
            , <&key_physical_attrs 100 100  400  125    1500   650   150>
            , <&key_physical_attrs 100 100  500  145    1500   650   150>
            , <&key_physical_attrs 100 100  200  150    1500   650   150>
            , <&key_physical_attrs 100 100  300  200    1500   650   150>
            , <&key_physical_attrs 100 100  100  225    1500   650   150>
            , <&key_physical_attrs 100 100  400  225    1500   650   150>
            , <&key_physical_attrs 100 100  500  245    1500   650   150>
            , <&key_physical_attrs 100 100  200  250    1500   650   150>
            , <&key_physical_attrs 100 100  300  300    1500   650   150>
            , <&key_physical_attrs 100 100  100  325    1500   650   150>
            , <&key_physical_attrs 100 100  400  325    1500   650   150>
            , <&key_physical_attrs 100 100  500  345    1500   650   150>
            , <&key_physical_attrs 100 100  200  350    1500   650   150>
            , <&key_physical_attrs 100 100  100  425    1500   650   150>
            , <&key_physical_attrs 100 100  400  450    1500   650   150>
            , <&key_physical_attrs 100 100  575  470    2500   650   150>
            , <&key_physical_attrs 100 100  750  460    3500   650   150>
            , <&key_physical_attrs 100 100  450  460 (-3500)   650   150>
            , <&key_physical_attrs 100 100  625  470 (-2500)   650   150>
            , <&key_physical_attrs 100 100  900  100 (-1500)   650   150>
            , <&key_physical_attrs 100 100  800  125 (-1500)   650   150>
            , <&key_physical_attrs 100 100  700  145 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1000  150 (-1500)   650   150>
            , <&key_physical_attrs 100 100  900  200 (-1500)   650   150>
            , <&key_physical_attrs 100 100  800  225 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1100  225 (-1500)   650   150>
            , <&key_physical_attrs 100 100  700  245 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1000  250 (-1500)   650   150>
            , <&key_physical_attrs 100 100  900  300 (-1500)   650   150>
            , <&key_physical_attrs 100 100  800  325 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1100  325 (-1500)   650   150>
            , <&key_physical_attrs 100 100  700  345 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1000  350 (-1500)   650   150>
            , <&key_physical_attrs 100 100 1100  425 (-1500)   650   150>
            , <&key_physical_attrs 100 100  800  450 (-1500)   650   150>
            ;
    };
};

