# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BW2

config BOARD
    default "bw2"

config ZMK_KEYBOARD_NAME
    default "Bad Wings v2"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif 

if ZMK_STUDIO

choice ZMK_BEHAVIOR_LOCAL_ID_TYPE
    default ZMK_BEHAVIOR_LOCAL_ID_TYPE_CRC16
endchoice 

config ZMK_STUDIO_RPC_TX_BUF_SIZE
    default 32

endif