# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BAD_WINGS

config BOARD
    default "Bad Wings v2"

config ZMK_KEYBOARD_NAME
    default "Bad Wings v2"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_CHAZ